*{box-sizing: border-box;}
@keyframes title {
    0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
    }
h1 {text-align: center}
h1 {
	animation: title 5s ease infinite;
    }
@keyframes author{
        0%{opacity: 1;}
        25%{opacity: 0.8;}
        50%{opacity: 0;}
        75%{opacity: 0.8;}
        100%{opacity: 0;}
        from{width:0px;}
        to{width: 100%;}
    }
.author {
    width: 100%; 
    font-weight: bold;
    font-size: 15px;
    animation-name: author;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h2 {text-align: center}
p {text-decoration: aquamarine;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif}
img {max-width: 100%;}

.swim {
    max-width: 1000px;
    margin: auto;
}
.boi:hover img{transform: scale(1.2)}
.boi{overflow: hidden;}
.boi {
    padding: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    width: 30%;
}
.boi img {
    max-width: 100%;
}