* {box-sizing: border-box}
header {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    padding-bottom: 10px;
    background: white;
    z-index: 999;
}
.container {max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: block;}
header #logo {padding-right: 30px;
    float: left;
    width: 20%;}

#marketing-menu {width: 80%;
    display: flex;
    justify-content: flex-end;}

#logo img {width: 100%;
    height: auto;}

.divider {color: #E4E7E9;
    display: block;
    float: left;
    padding: 25px;}
body {max-width: 1200px;
    margin: 0px auto}
.main-menu {text-transform: uppercase;
    float: right;}

.menu-items {color: #45575E;
    font-family: FF-Tisa-Web-Pro, "Georgia", "Times", "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.5;
    padding: 25px;
    float: left;
    text-align: center}
#menu-items-ma {padding-right: 0}


    .main-menu>li{
        float: left;
        margin-right: 15px;
    }
 
    .main-menu li{
        position: relative;
    }
 
    .main-menu li a{display: inline-block;
    }
 
    .main-menu .sub-menu{
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 260px;
        background-color: #eee;
        padding: 5px 20px;
        z-index: 50;
    }
     
    .main-menu li:hover >.sub-menu{
        display: block;}
 
    .main-menu>li>.sub-menu{
        top: 100%;
        left: 0;
    }
    ul {
        list-style: none;
        }
    .sub-menu a:hover {color: rgb(255, 94, 0)}
    .main-menu .sub-menu .sstyle {padding: 10px}


.banner-content {max-width: 1500px;
    margin: 0px auto;
    overflow: hidden;}
.banner img {width: 100%;
    height: 700px;}
.banner-img {position: relative;
    top:10vw;}
.banner-text {position: absolute;
    top:12vw;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
    left: 50%;
    transform: translateX(-50%);}
.banner-text *{vertical-align: middle}
.banner h1 {margin:0;
    font-size: 36px;
    line-height: 0.9;
    letter-spacing: 1.2px;
    color: white;
    font-family: Brandon-Grotesque, "Verdana", "Geneva", sans-serif;
    text-align: center}
.banner-text p {text-align: center;
    color: #E4E7E9;
    line-height: 1.5;
    font-family: Brandon-Grotesque, "Verdana", "Geneva", sans-serif;
    font-size: initial;
    font-weight: normal;}
h2 {text-align: center}



.content1 {max-width: 1000px;
    margin: 0px auto;
    }
.sp {
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    width: 49.5%;
    border: 1.5px solid black;
}
.sp img {
    max-width: 100%;
}
.sp:hover img{transform: scale(1.2)}
.sp{overflow: hidden;}

h3 {
    background-color: rgb(215, 237, 250);
    font-size: 24px;
    font-style: inherit;
    text-align: center
}
.clear {clear: both;}

.footer {width: 100%;
    margin: 0px auto;
    }
.footer1 {display: inline-block;
    padding-top: 20px;
    padding-left: 100px;
    color: rgb(51, 50, 50);
    font-size: 18px;}
.footer1 a {
        color: rgb(39, 38, 38);
        margin-top: 10px;
        display: block;
        text-decoration: none;
        opacity: 0.6;
    }
    .footer2 {display: inline-block;
        padding-top: 20px;
        padding-left: 100px;
        color: rgb(51, 50, 50);
        font-size: 18px;}
    .footer2 a {
            color: rgb(39, 38, 38);
            margin-top: 10px;
            display: block;
            text-decoration: none;
            opacity: 0.6;
        }
    .footer12 {float: left;
        width: 50%;
        margin-bottom: 50px;}
    .footer3 img {width: 50%;
        height: 200px;
        justify-content: center;
        padding-right: 105px;
        float: right}

h1 {background-color: blue;
color: antiquewhite;
text-align: center}