*{box-sizing: border-box;} 
#main-menu a {
    font-size: 30px;
    background-color: whitesmoke;
    text-decoration: none;
    }
#main-menu a:hover {color: orangered}
#main-menu .active {color: black; font-weight: bold}
#main-menu {position: relative;}

img {max-width: 100%;}

.wrap {
    max-width: 1000px;
    margin: auto;
}
.sp:hover img{transform: scale(1.2)}
.sp{overflow: hidden;}
.content {width: 100%}

.products {
width: 12%;
border: 2px black solid;
float: left;
margin-right: 5px;
position: absolute;
left: 7px;
font-weight: bold;
line-height: 1.5 }
#call {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 5%;
}